.form-custom .form-custom-heading,
.form-custom .checkbox {
  margin-bottom: 10px;
}

.form-custom .checkbox {
  font-weight: normal;
}

.form-custom .form-control {
  position: relative;
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-custom .form-control:focus {
  z-index: 2;
}

.form-custom input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-custom input[type="password"] {
  margin-bottom: -1px;
  border-radius: 0px;
}

.form-custom input[type="number"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #fff;
}

.panel {
  box-shadow: 0px 0px 19px 2px rgba(119, 119, 119, 0.4);
  border: 0px solid transparent;
}

.container-register {
  display: flex;
  justify-content: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.gender-legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  margin-bottom: 0;
  font-size: inherit;
  width: auto;
  border: none;
}

/*After validation field becomes red*/
.error {
  border: solid 1px red;
  background-color: #ffe6e6;
}
