.panel {
  box-shadow: 0 0 4px rgba(40, 44, 63, 0.08);
  border: 1px solid #eaeaec;
}

.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #fff;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
  border: none;
}

th {
  width: 200px;
}

.panel-default > .panel-footer {
  background-color: #fff;
  border-color: #fff;
}
@media (min-width: 970px) {
  .container {
    width: 970px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 250px;
}
